<!DOCTYPE html>
{% extends "layouth.html" %}
{%block content%}
<html>

<head>
    <title>REGISTER</title>
</head>

<body>
    <h1> Información Personal</h1>
    <form id="multipaso-form" method="post" action="/edit/{{ paciente.documento }}/update" enctype="multipart/form-data">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="document">Documento:</label>
                    <input type="text" name="document" id="document" class="form-control"
                        value="{{ paciente.documento }}">
                </div>
                <div class="form-group">
                    <label for="tdocument">Tipo de Documento:</label>
                    <select name="tdocument" id="tdocument" class="form-control">
                        <option value="cedula" {% if paciente[0]=="cedula" %} selected {% endif %}>C.C</option>
                        <option value="tarjeta_identidad" {% if paciente[0]=="tarjeta_identidad" %} selected {% endif
                            %}> T.I
                        </option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="name">Nombre:</label>
                    <input type="text" name="name" id="name" class="form-control"
                        value="{{ paciente.nombre_paciente }}">
                </div>
                <div class="form-group">
                    <label for="yearold">Edad:</label>
                    <input type="text" name="yearold" id="yearold" class="form-control" value="{{ paciente.edad }}">
                </div>
                <div class="form-group">
                    <label for="gender">Género:</label>
                    <select name="gender" id="gender" class="form-control">
                        <option value="Masculino" {% if paciente.genero=="Masculino" %} selected {% endif %}>Masculino
                        </option>
                        <option value="Femenino" {% if paciente.genero=="Femenino" %} selected {% endif %}>Femenino
                        </option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="text" name="email" id="email" class="form-control"
                        value="{{ paciente.correo_electronico }}">
                </div>
                <div class="form-group">
                    <label for="direcction">Dirección:</label>
                    <input type="text" name="direcction" id="direcction" class="form-control"
                        value="{{ paciente.direccion }}">
                </div>
                <div class="form-group">
                    <label for="phone">Teléfono:</label>
                    <input type="text" name="phone" id="phone" class="form-control" value="{{ paciente.telefono }}">
                </div>
                <legend>Información Adicional</legend>
                <div class="form-group">
                    <label for="eps">EPS:</label>
                    <input type="text" name="eps" id="eps" class="form-control" value="{{ paciente.eps }}">
                </div>
                <div class="form-group">
                    <label for="charge">Ocupación</label>
                    <input type="text" name="charge" id="charge" class="form-control" value="{{ paciente.cargo }}">
                </div>
                <div class="form-group">
                    <label for="companion">Acompañante:</label>
                    <input type="text" name="companion" id="companion" class="form-control"
                        value="{{ paciente.acompanante }}">
                </div>
                <div class="form-group">
                    <label for="relationship">Parentesco:</label>
                    <input type="text" name="relationship" id="relationship" class="form-control"
                        value="{{ paciente.parentesco }}">
                </div>
                <div class="form-group">
                    <label for="phonerelationship">Teléfono del Acompañante:</label>
                    <input type="text" name="phonerelationship" id="phonerelationship" class="form-control"
                        value="{{ paciente.telefono_acompanante }}">
                </div>
            </div>
        </div>

        <div class="form-step" data-step="2">
            <div class="col-md-6">
                <table class="table">
                    <h6>Antecedentes Familirares</h6>
                    <thead>
                        <tr>
                            <th scope="col">Antecedentes En:</th>
                            <th>Observación</th>
                        </tr>
                    </thead>

                    <tbody>

                        <tr>
                            <th>DIABETES</th>

                            <td>
                                <select name="dia" id="dia">
                                    <option value="no_refiere" {% if antecedentes.diabetess=="no_refiere" %} selected {%
                                        endif %}>NO REFIERE
                                    </option>
                                    <option value="refiere" {% if antecedentes.diabetes=="refiere" %} selected {% endif
                                        %}>
                                        REFIERE </option>
                                </select>
                            </td>
                        </tr>

                        <tr>
                            <th>HIPERTENSIÓN</th>

                            <td>
                                <select name="hiper" id="hiper">
                                    <option value="no_refiere" {% if antecedentes.hipertension=="no_refiere" %} selected
                                        {% endif %}>NO
                                        REFIERE
                                    </option>
                                    <option value="refiere" {% if antecedentes.hipertension=="refiere" %} selected {%
                                        endif %}>
                                        REFIERE
                                    </option>
                                </select>
                            </td>
                        </tr>

                        <tr>
                            <th>ARTRITIS</th>
                            <td>
                                <select name="artr" id="artr">
                                    <option value="no_refiere" {% if antecedentes.artritis=="no_refiere" %} selected {%
                                        endif %}>NO REFIERE
                                    </option>
                                    <option value="refiere" {% if antecedentes.artritis=="refiere" %} selected {% endif
                                        %}>
                                        REFIERE </option>
                                </select>
                            </td>
                        </tr>

                        <tr>
                            <th>ALERGIA</th>
                            <td>
                                <select name="aler" id="aler">
                                    <option value="no_refiere" {% if antecedentes.alergia=="no_refiere" %} selected {%
                                        endif %}>
                                        NO REFIERE
                                    </option>
                                    <option value="refiere" {% if antecedentes.alergia=="refiere" %} selected {% endif
                                        %}>
                                        REFIERE </option>
                                </select>
                            </td>
                        </tr>

                        <tr>
                            <th>CATARATA</th>
                            <td>
                                <select name="cata" id="cata">
                                    <option value="no_refiere" {% if antecedentes.catarata=="no_refiere" %} selected {%
                                        endif %}>NO REFIERE
                                    </option>
                                    <option value="refiere" {% if antecedentes.catarata=="refiere" %} selected {% endif
                                        %}>
                                        REFIERE </option>
                                </select>
                            </td>
                        </tr>

                        <tr>
                            <th>GLAUCOMA</th>
                            <td>
                                <select name="glau" id="glau">
                                    <option value="no_refiere" {% if antecedentes.glaucoma=="no_refiere" %} selected {%
                                        endif %}>NO REFIERE
                                    </option>
                                    <option value="refiere" {% if antecedentes.glaucoma=="refiere" %} selected {% endif
                                        %}>
                                        REFIERE </option>
                                </select>
                            </td>
                        </tr>

                        <tr>
                            <th>ESTRABISMO</th>
                            <td>
                                <select name="estra" id="estra">
                                    <option value="no_refiere" {% if antecedentes.estrabismo=="no_refiere" %} selected
                                        {% endif %}>NO
                                        REFIERE
                                    </option>
                                    <option value="refiere" {% if antecedentes.estrabismo=="refiere" %} selected {%
                                        endif %}>
                                        REFIERE
                                    </option>
                                </select>
                            </td>

                        </tr>

                        <tr>
                            <th>QUERATOCONO</th>
                            <td>
                                <select name="quera" id="quera">
                                    <option value="no_refiere" {% if antecedentes.queratocono=="no_refiere" %} selected
                                        {% endif %}>NO
                                        REFIERE</option>
                                    <option value="refiere" {% if antecedentes.queratocono=="refiere" %} selected {%
                                        endif %}>
                                        REFIERE
                                    </option>
                                </select>
                            </td>

                        </tr>
                        <tr>
                            <th><label for="otros">OTROS</label></th>
                            <td><input type="text" name="otros" id="otros" value="{{ antecedentes.otros }} "
                                    class="form-control"></td>
                        </tr>
                    </tbody>

                </table>

                <table class="default">
                    <thead>
                        <h6>Antecedentes Personales</h6>
                    </thead>
                    <tr>
                        <th scope="col">Antecedentes En</th>
                        <th>Observación</th>
                    </tr>
                    <th><label for="diabetes">DIABETES</label></th>
                    <td><input type="text" name="diabetes" id="diabetes" value="{{ antecedentes.diabetes }}"
                            class="form-control"></td>
                    <tr>
                        <th><label for="hipertension">Hipertensión</label></th>
                        <td> <input type="text" name="hipertension" id="hipertension"
                                value="{{ antecedentes.hipertension_per }}" class="form-control"> </td>
                    </tr>
                    <tr>
                        <th><label for="artritis">Artritis</label></th>
                        <td><input type="text" name="artritis" id="artritis" value="{{ antecedentes.Artritis_per }}"
                                class="form-control"></td>
                    </tr>
                    <tr>
                        <th><label for="alergia">Alergia</label></th>
                        <td><input type="text" name="alergia" id="alergia" value="{{ antecedentes.Alergia_per }}"
                                class="form-control"> </td>
                    </tr>
                    <tr>
                        <th><label for="ulcera">Úlcera Gástrica</label></th>
                        <td><input type="text" name="ulcera" id="ulcera" value="{{ antecedentes.ulcera_per }}"
                                class="form-control"></td>
                    </tr>
                    <tr>
                        <th><label for="cirugia">Cirugía Refractiva</label></th>
                        <td><input type="text" name="cirugia" id="cirugia" value="{{ antecedentes.cirugia_per }}"
                                class="form-control"> </td>
                    </tr>
                    <tr>
                        <th><label for="lentes">Lentes de Contacto</label> </th>
                        <td><input type="text" name="lentes" id="lentes" value="{{ antecedentes.lentes_contacto_per }}"
                                class="form-control"> </td>
                    </tr>
                    <tr>
                        <th><label for="otros_1">OTROS</label></th>
                        <td><input type="text" name="otros_1" id="otros_1" value="{{ antecedentes.otros1 }}"
                                class="form-control"></td>
                    </tr>
                </table>

                <table class="default">

                    <thead>
                        <h6>Antecedentes Quirúrgicos<h6>
                    </thead>
                    <tr>
                        <th><label for="descripcion">Describalo</label></th>

                        <td><input type="text" name="descripcion" id="descripcion"
                                value="{{ antecedentes.descripcion }}" class="form-control"></td>
                    </tr>

                </table>
            </div>
        </div>
        <div class="form-step" data-step="3">
            <table class="table">
                <thead>
                    <h6>Consulta<h6>
                </thead>
                <th><label for="mov_consulta">Motivo de Consulta</label></th>
                <td><input type="text" name="mov_consulta" id="mov_consulta" class="form-control"
                        value="{{mov_consulta.mov_consulta}}" placeholder="Motivo de Consulta"> </td>
                <th><label for="ulti_consulta">Ultima Consulta</label></th>
                <td><input type="text" name="ulti_consulta" id="ulti_consulta" class="form-control"
                        value="{{mov_consulta.ulti_consulta}}" placeholder="Ultima Consulta"> </td>
            </table>


            <table class="table">
                <table class="table">
                    <h6>RX FINAL (Formulación)</h6>
                    <tr>
                        <th><label for="esfera">OJO DERECHO</label></th>

                        <th><label for="tipo_lente">Esfera</label></th>
                        <td><input type="text" name="esfera" id="esfera" class="form-control" placeholder="Esfera"
                                value="{{mov_consulta.esfera}}"></td>
                        <th><label for="tipo_lente">Cilindro</label></th>
                        <td><input type="text" name="cilindro" id="cilindro" class="form-control" placeholder="Cilindro"
                                value="{{mov_consulta.cilindro}}">></td>
                        <th><label for="tipo_lente">Eje</label></th>
                        <td><input type="text" name="eje" id="eje" class="form-control" placeholder="Eje"
                                value="{{mov_consulta.eje}}"></td>
                        <th><label for="tipo_lente">DP</label></th>
                        <td><input type="text" name="dp" id="dp" class="form-control" placeholder="D.P"
                                value="{{mov_consulta.dp}}"></td>
                        <th><label for="tipo_lente">VL20</label></th>
                        <td><input type="text" name="vl20" id="vl20" class="form-control" placeholder="AV VL20/"
                                value="{{mov_consulta.vl20}}">
                        </td>
                        <th><label for="tipo_lente">VP20</label></th>
                        <td><input type="text" name="vp20" id="vp20" class="form-control" placeholder="AV VP20/"
                                value="{{ mov_consulta.vp20 }}">
                        </td>
                        <th><label for="tipo_lente">ADD</label></th>
                        <td><input type="text" name="add_0" id="add_0" class="form-control" placeholder="ADD"
                                value="{{ mov_consulta.add_0 }}"></td>
                    </tr>

                    <tr>
                        <th><label for="ojo_izq">OJO IZQUIERDO</label></th>
                        <th><label for="tipo_lente">Esfera</label></th>
                        <td><input type="text" name="esfera_1" id="esfera_1" class="form-control" placeholder="Esfera"
                                value="{{mov_consulta.esfera_1}}">
                        </td>
                        <th><label for="tipo_lente">Cilindro</label></th>
                        <td><input type="text" name="cilindro_1" id="cilindro_1" class="form-control"
                                placeholder="Cilindro" value="{{mov_consulta.cilindro_1}}">></td>
                        <th><label for="tipo_lente">Eje</label></th>
                        <td><input type="text" name="eje_1" id="eje_1" class="form-control" placeholder="Eje"
                                value="{{mov_consulta.eje_1}}"></td>
                        <th><label for="tipo_lente">DP</label></th>
                        <td><input type="text" name="dp_1" id="dp_1" class="form-control" placeholder="D.P"
                                value="{{mov_consulta.dp_1}}"></td>
                        <th><label for="tipo_lente">VL20</label></th>
                        <td> <input type="text" name="vl20_1" id="vl20_1" class="form-control" placeholder="AV VL20/"
                                value="{{mov_consulta.vl20_1}}">
                        </td>
                        <th><label for="tipo_lente">VP20</label></th>
                        <td><input type="text" name="vp20_1" id="vp20_1" class="form-control" placeholder="AV VP20/"
                                value="{{mov_consulta.vp20_1}}">
                        </td>
                        <th><label for="tipo_lente">ADD</label></th>
                        <td><input type="text" name="add_1" id="add_1" class="form-control" placeholder="ADD"
                                value="{{mov_consulta.add_1}}"></td>
                    </tr>
                </table>
            </table>

            <table class="table">
                <h6>Formula Número</h6>
                <th><label for="tipo_lente">Tipo de Lente</label></th>
                <td><input type="text" name="tipo_lente" id="tipo_lente" class="form-control"
                        placeholder="Tipo de Lente" value="{{mov_consulta.tipo_lente}}"></td>
                <th><label for="montura">Montura</label></th>
                <td><input type="text" name="montura" id="montura" class="form-control" placeholder="Montura"
                        value="{{mov_consulta.montura}}">
                </td>
                <tr>
                    <th><label for="material">Material</label></th>
                    <td><input type="text" name="material" id="material" class="form-control" placeholder="Material"
                            value="{{mov_consulta.material}}"></td>
                    <th><label for="filtro">Filtro</label></th>
                    <td><input type="text" name="filtro" id="filtro" class="form-control" placeholder="Filtro"
                            value="{{mov_consulta.filtro}}">
                    </td>
                    <th><label for="color">Color</label></th>
                    <td> <input type="text" name="color" id="color" class="form-control" placeholder="Color"
                            value="{{mov_consulta.color}}">
                    </td>
                </tr>
                <tr>
                    <th><label for="obs">Observación</label></th>
                    <td><input type="text" name="obs" id="obs" class="form-control" placeholder="Observación"
                            value="{{mov_consulta.observacion}}">
                    </td>
                </tr>
            </table>

            <table class="table">
                <tr>
                    <th><label for="vision_lejos">VISIÓN LEJANA</label> </th>
                    <td><input type="text" name="vision_lejos" id="vision_lejos" class="form-control"
                            value="{{vista.vision_lejana}}"></td>
                </tr>

                <th><label for="vision_proxima">VISION PRÓXIMA</label></th>

                <td><input type="text" name="vision_proxima" id="vision_proxima" class="form-control"
                        value="{{vista.vision_proxima}}"></td>
                </tr>
                <tr>
                    <th><label for="ducciones_od">DUCCIONES OD</label></th>

                    <td><input type="text" name="ducciones_od" id="ducciones_od" class="form-control"
                            value="{{vista.ducciones_od}}"></td>
                </tr>
                <tr>
                    <th><label for="ducciones_oi">DUCCIONES OI</label></th>

                    <td><input type="text" name="ducciones_oi" id="ducciones_oi" class="form-control"
                            value="{{vista.ducciones_oi}}"></td>
                </tr>
                <tr>
                    <th><label for="ppc_od">PPC OD</label></th>

                    <td><input type="text" name="ppc_od" id="ppc_od" class="form-control" value="{{vista.ppc_od}}"></td>
                </tr>
                <tr>
                    <th><label for="ppc_oi">PPC OI</label></th>

                    <td><input type="text" name="ppc_oi" id="ppc_oi" class="form-control" value="{{vista.ppc_oi}}"></td>
                </tr>


                <tr>
                    <th><label>OFTALMOSCOPIA</label> </th>
                </tr>
                <tr>
                    <th><label for="ojo_derecho">OJO DERECHO</label></th>
                    <td><input type="text" name="ojo_derecho" id="ojo_derecho" class="form-control"
                        value="{{vista.ojo_derecho}}"></td>
                    <th><label for="ojo_izqui">OJO IZQUIERDO</label></th>
                    <td><input type="text" name="ojo_izquierdo" id="ojo_izquierdo" class="form-control"
                        value="{{vista.ojo_izquierdo}}"></td>
                </tr>
                <tr>
                    <th><label>QUERATOMETRIA</label> </th>
                </tr>

                <tr>
                    <th><label for="ojo_dere">OJO DERECHO</label></th>
                    <td><input type="text" name="ojo_dere" id="ojo_dere" class="form-control"
                            value="{{vista.ojo_drc_querato}}"></td>
                    <th><label for="ojo_izqui">OJO IZQUIERDO</label></th>
                    <td><input type="text" name="ojo_izqui" id="ojo_izqui" class="form-control"
                            value="{{vista.ojo_izq_querato}}"></td>
                </tr>

                <tr>
                    <th><label>REFACTROMETRIA</label> </th>
                </tr>
                <tr>

                    <th><label for="ojo_derch">OJO DERECHO</label></th>
                    <td><input type="text" name="ojo_derch" id="ojo_derch" class="form-control"
                            value="{{vista.ojo_drc_refac}}"></td>
                    <th><label for="ojo_izquier">OJO IZQUIERDO</label></th>
                    <td><input type="text" name="ojo_izquier" id="ojo_izquier" class="form-control"
                            value="{{vista.ojo_izq_refac}}"></td>
                </tr>


                <tr>
                    <th><label>RETINOSCOPIA</label> </th>
                </tr>
                <tr>

                    <th><label for="esfera">OJO DERECHO</label></th>

                    <th><label for="tipo_lente">Esfera</label></th>
                    <td><input type="text" name="esfera" id="esfera" class="form-control" placeholder="Esfera"
                            value="{{vista.esfera_retino}}"></td>
                    <th><label for="tipo_lente">Cilindro</label></th>
                    <td><input type="text" name="cilindro" id="cilindro" class="form-control" placeholder="Cilindro"
                            value="{{vista.cilindro_retino}}"></td>
                    <th><label for="tipo_lente">Eje</label></th>
                    <td><input type="text" name="eje" id="eje" class="form-control" placeholder="Eje"
                            value="{{vista.eje_retino}}"></td>
                    <th><label for="tipo_lente">DP</label></th>
                    <td><input type="text" name="dp" id="dp" class="form-control" placeholder="D.P"
                            value="{{vista.dp_retino}}"></td>
                    <th><label for="tipo_lente">VL 20</label></th>
                    <td><input type="text" name="vl20" id="vl20" class="form-control" placeholder="AV VL20/"
                            value="{{vista.vl20_retino}}"></td>
                    <th><label for="tipo_lente">VP 20</label></th>
                    <td><input type="text" name="vp20" id="vp20" class="form-control" placeholder="AV VP20/"
                            value="{{vista.vp20_retino}}"></td>
                    <th><label for="tipo_lente">ADD</label></th>
                    <td><input type="text" name="add" id="add" class="form-control" placeholder="ADD"
                            value="{{vista.add_retino}}"></td>
                </tr>
                <tr>
                    <th><label for="ojo_izq">OJO IZQUIERDO</label></th>

                    <th><label for="tipo_lente">Esfera</label></th>
                    <td><input type="text" name="esfera_1" id="esfera_1" class="form-control" placeholder="Esfera"
                            value="{{vista.esfera_retino_1}}"> </td>
                    <th><label for="tipo_lente">Cilindro</label></th>
                    <td><input type="text" name="cilindro_1" id="cilindro_1" class="form-control" placeholder="Cilindro"
                            value="{{vista.cilindro_retino_1}}">
                    </td>
                    <th><label for="tipo_lente">Eje</label></th>
                    <td><input type="text" name="eje_1" id="eje_1" class="form-control" placeholder="Eje"
                            value="{{vista.eje_retino_1}}"></td>
                    <th><label for="tipo_lente">DP</label></th>
                    <td><input type="text" name="dp_1" id="dp_1" class="form-control" placeholder="D.P"
                            value="{{vista.dp_retino_1}}"></td>
                    <th><label for="tipo_lente">VL 20</label></th>
                    <td><input type="text" name="vl20_1" id="vl20_1" class="form-control" placeholder="AV VL20/"
                            value="{{vista.vl20_retino_1}}">
                    </td>
                    <th><label for="tipo_lente">VP 20</label></th>
                    <td><input type="text" name="vp20_1" id="vp20_1" class="form-control" placeholder="AV VP20/"
                            value="{{vista.vp20_retino_1}}">
                    </td>
                    <th><label for="tipo_lente">ADD</label></th>
                    <td> <input type="text" name="add_1" id="add_1" class="form-control" placeholder="ADD"
                            value="{{vista.add_retino_1}}"></td>
                </tr>
            </table>



            <button type="submit" class="btn btn-primary">Guardar Cambios</button>
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    </form>
    <a href="/consult" class="btn btn-secondary">Atrás</a>
</body>


</html>
{%endblock%}