<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tu Compra</title>
    <!-- Enlace al archivo CSS de Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Q6E9RHvbIyZFJgXRQppFPbz2zPdSldc+3gt0AdHNQX+6hPBMZa5eag5AiM4eNPmW" crossorigin="anonymous">
    <style>
        h1 {
            text-align: center;
            margin-bottom: 30px;
        }
        table th, table td {
            vertical-align: middle;
        }
    </style>
</head>

<body>
    <div class="container mt-5">
        <h1>Tu Compra</h1>
        <!-- Comprobamos si hay datos de compra para mostrar -->
        {% if venta %}
        <table class="table table-bordered table-hover">
            <thead class="table-light">
                <tr>
                    <th>Fecha</th>
                    <td> {{venta.fecha_venta}} </td>
                    <th> Factura de Venta </th>
                    <td> {{venta.numero_recibo}} </td>
                </tr>
                <tr>
                    <th>Nombre</th>
                    <td>{{venta.nombre}}</td>
                    <th>Documento</th>
                    <td>{{venta.cliente_id}}</td>
                </tr>
                <tr>
                    <th>Dirección</th>
                    <td>{{venta.direccion}}</td>
                    <th>Teléfono</th>
                    <td>{{venta.telefono}}</td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td colspan="3">{{venta.email}}</td>
                </tr>
            </thead>
            <tbody>

                {% for detalle in venta.detalles %}
                <tr>
                    <th> Producto </th>
                    <td>{{ detalle.tipo_producto }}</td>
                    <th> Cantidad </th>
                    <td>{{detalle.cantidad}}</td>
                    <th> Subtotal </th>
                    <td>{{detalle.subtotal}}</td>
                </tr>
                {% endfor %}
                <tr>
                    <th>Total</th>
                    <td colspan="5">{{venta.total}}</td>
                </tr>

            </tbody>
        </table>
        {% endif %}
    </div>
    <!-- Enlace al archivo JavaScript de Bootstrap (opcional, solo si necesitas componentes interactivos) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-k/JsvN8rWtX2D35EL3VjSLn0C6kV1FGT7nfEQ1KR3ayfg3pCvBohOs8fFLFyFjyJ" crossorigin="anonymous"></script>
</body>

</html>
