<!DOCTYPE html>
{% extends "layouth.html" %}
{%block content%}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
</head>

<body>
    <h1>Bienvenido</h1>
    <div>
        <p>Sea bienvenido, si usted actualmente se encuentra registrado por favor ingrese a iniciar Sesión <strong><a
                    href="/login">Login</a></strong>, en caso contrario puede realizar el registro en el siguiente
            enlace <strong><a href="/signup">Sign up</a></strong></p>
    </div>

</body>

</html>
{%endblock%}