<!DOCTYPE html>
{% extends "layouth.html" %}
{%block content%}
<html>

<head>
    <title>Inventario</title>
</head>

<body>
    <h1>Inventario</h1>
    <form  method="post" action="/inventory" enctype="multipart/form-data">
        <table class="controles">
            <tr>
                <th colspan="4" class="celdaControles celdaTitulo">Sistema de gestión de inventarios</th>
            </tr>

            <tr>
                <th><label for="fecha">Fecha de Ingreso</label></th>
                <td><input type="date" name="day" id="day"></td>
            </tr>

            <tr>
                <th><label for="sede">Indique la sede:</label></th>
                <td>
                    <select name="sede" id="sede">
                        <option value="sede1">Sede 1</option>
                        <option value="sede2">Sede 2</option>
                        <option value="sede3">Sede 3</option>
                    </select>
                </td>
            </tr>

            <tr>
                <th><label for="montura">Montura:</label></th>
                <td><input type="text" name="montura" id="montura" class="form-control"></td>
                <th><label for="cantidad_montura">Cantidad </label></th>
                <td><input type="text" name="cantidad_montura" id="cantidad_montura" class="form-control"></td>
            </tr>
            <tr>
                <th><label for="marca">Marca:</label></th>
                <td><input type="text" name="marca" id="marca" class="form-control"></td>
            </tr>
            <tr>
                <th><label for="referencia">Referencia:</label></th>
                <td><input type="text" name="referencia" id="referencia" class="form-control"></td>
            </tr>
            <tr>
                <th><label for="color">Color:</label></th>
                <td><input type="text" name="color" id="color" class="form-control"></td>
            </tr>
            <tr>
                <th><label for="cordones">Cordones:</label></th>
                <td><input type="text" name="cordones" id="cordones" class="form-control"></td>
                <th><label for="cantidad_cordones">Cantidad </label></th>
                <td><input type="text" name="cantidad_cordones" id="cantidad_cordones" class="form-control"></td>
            </tr>
            <tr>
                <th><label for="estuches">Estuches:</label></th>
                <td><input type="text" name="estuches" id="estuches" class="form-control"></td>
                <th><label for="cantidad_estuches">Cantidad </label></th>
                <td><input type="text" name="cantidad_estuches" id="cantidad_estuches" class="form-control"></td>
            </tr>
            <tr>
                <th><label for="stopper">Stopper:</label></th>
                <td><input type="text" name="stopper" id="stopper" class="form-control"></td>
                <th><label for="cantidad_stopper">Cantidad </label></th>
                <td><input type="text" name="cantidad_stopper" id="cantidad_stopper" class="form-control"></td>
            </tr>
            <tr>

                <td><a href="/export" class="btn btn-info">Exportar inventario</a> </td>
            </tr>
            <tr>
                <td colspan="2"><button type="submit" class="btn btn-success">Enviar</button></td>

                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            </tr>

    </form>
    <td><a href="/menu" class="btn btn-secondary">Atrás</a> </td>
    </table>

</body>



</html>
{%endblock%}