<!DOCTYPE html>
{% extends "layouth.html" %}
{% block content %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Política de Privacidad</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
    <div class="container mt-5">
        <h1 class="mb-4">Política de Privacidad</h1>
        <p> Toda la información recopilada a través de esta página web y sus formularios se utilizará únicamente para la recopilación de los datos del paciente con el fin de lograr su respectivo tratamiento médico.</p>
        <p> La recopilación, almacenamiento, aseguramiento y eliminación de la información se ejecutará según los términos de ley, en especial la ley 1581 de 2012 y demás concordantes y complementarios. En este sentido, las políticas de privacidad son las siguientes:</p>
        <table class="table table-bordered mt-4">
            <tbody>
                <tr>
                    <th scope="row">1. Información que recopilamos</th>
                    <td>Recopilamos información que los usuarios nos proporcionan directamente, como nombre, número de identificación, correo electrónico, número de contacto telefónico, antecedentes médicos relacionados con su visión, edad, así como cualquier otra información que se requiera para el tratamiento oftalmológico. La información recopilada será utilizada únicamente para los datos mencionados.</td>
                </tr>
                <tr>
                    <th scope="row">2. Cómo utilizamos la información</th>
                    <td>Para proporcionar, operar y mantener nuestros servicios. Para mejorar, personalizar y expandir nuestra aplicación. Para comunicarnos con los usuarios, incluyendo el envío de actualizaciones y notificaciones. Para procesar transacciones y prevenir fraudes. Para cumplir con obligaciones legales.</td>
                </tr>
                <tr>
                    <th scope="row">3. Seguridad de la información</th>
                    <td>Amplitud Visión cuenta con los recursos tecnológicos necesarios para garantizar la máxima protección posible para la información proporcionada por los usuarios contra el acceso no autorizado, la alteración, divulgación o destrucción.</td>
                </tr>
                <tr>
                    <th scope="row">4. Tus derechos</th>
                    <td>
                        <ul>
                            <li>Conocer, actualizar y rectificar sus datos personales frente a los Responsables del Tratamiento o Encargados del Tratamiento.</li>
                            <li>Solicitar prueba de la autorización otorgada al Responsable del Tratamiento, salvo cuando expresamente se exceptúe como requisito para el Tratamiento.</li>
                            <li>Ser informados por el Responsable del Tratamiento o el Encargado del Tratamiento, previa solicitud, respecto del uso que se le ha dado a sus datos personales.</li>
                            <li>Revocar la autorización y/o solicitar la supresión del dato cuando en el Tratamiento no se respeten los principios, derechos y garantías constitucionales y legales.</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <th scope="row">5. Cambios en esta política</th>
                    <td>Nos reservamos el derecho de actualizar esta Política de Privacidad en cualquier momento. Notificaremos a los usuarios sobre cualquier cambio publicando la nueva política en esta página.</td>
                </tr>
                <tr>
                    <th scope="row">6. Contacto</th>
                    <td>Si tienes alguna pregunta sobre esta Política de Privacidad, puedes contactarnos al número 3225190269 o enviar un correo electrónico a...</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
{% endblock %}
