<!DOCTYPE html>
{% extends "layouth.html" %}
{%block content%}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recibo</title>
    <!-- Enlace al archivo CSS de Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Q6E9RHvbIyZFJgXRQppFPbz2zPdSldc+3gt0AdHNQX+6hPBMZa5eag5AiM4eNPmW" crossorigin="anonymous">
</head>
<body>
    <h1>Recibo</h1>
    <form id="form" method="post" action="/recibo" enctype="multipart/form-data">
        <table>
            <tr>
                <th><label for="fecha">FECHA</label></th>
                <td><input type="date" name="day" id="day"></td>
                <th><label for="factura">FACTURA DE VENTA</label></th>
                <td><input type="text" name="numero-recibo" id="numero-recibo" readonly></td>
                <td></td><input type="hidden" name="numero-recibo" id="numero-recibo" value="{{ numeroRecibo }}"></td>

            </tr>
            <tr>
                <th><label for="nombre">NOMBRE</label></th>
                <td><input type="text" name="nombre_paciente" id="nombre_paciente" class="form-control"></td>
                <th><label for="cc">CC</label></th>
                <td><input type="text" name="cc" id="cc" class="form-control"></td>
            </tr>
            <tr>
                <th><label for="nombre">DIRECCION</label></th>
                <td><input type="text" name="direccion" id="direccion" class="form-control"></td>
                <th><label for="telefono">TELEFONO</label></th>
                <td><input type="text" name="telefono" id="telefono" class="form-control"></td>
                <th><label for="correo">CORREO</label></th>
                <td><input type="text" name="correo" id="correo" class="form-control"></td>
            </tr>

            <tr>
                <th><label for="cantidad">CANTIDAD</label></th>
                <td><input type="text" name="cantidad" id="cantidad" class="form-control"></td>
                <td><input type="text" name="cantidad_1" id="cantidad_1" class="form-control"> </td>
                <td><input type="text" name="cantidad_2" id="cantidad_2" class="form-control"> </td>
                <td><input type="text" name="cantidad_3" id="cantidad_3" class="form-control"> </td>
                <td><input type="text" name="cantidad_4" id="cantidad_4" class="form-control"> </td>
                <td><input type="text" name="cantidad_5" id="cantidad_5" class="form-control"> </td>
                <td><input type="text" name="cantidad_6" id="cantidad_6" class="form-control"> </td>
                <td><input type="text" name="cantidad_7" id="cantidad_7" class="form-control"> </td>
            </tr>

            <tr> 
                <th><label for="detalle">DETALLE</label></th>
                <td><input type="text" name="detalle" id="detalle" class="form-control"></td>
                <td><input type="text" name="detalle_1" id="detalle_1" class="form-control"></td>
                <td><input type="text" name="detalle_2" id="detalle_2" class="form-control"></td>
                <td><input type="text" name="detalle_3" id="detalle_3" class="form-control"></td>
                <td><input type="text" name="detalle_4" id="detalle_4" class="form-control"></td>
                <td><input type="text" name="detalle_5" id="detalle_5" class="form-control"></td>
                <td><input type="text" name="detalle_6" id="detalle_6" class="form-control"></td>
                <td><input type="text" name="detalle_7" id="detalle_7" class="form-control"></td>
            </tr>

            <tr>
                <th><label for="v_unidad">VALOR UNIDAD</label></th>
                <td><input type="text" name="v_unidad" id="v_unidad" class="form-control" placeholder="$"></td>
                <td><input type="text" name="v_unidad_1" id="v_unidad_1" class="form-control" placeholder="$"></td>
                <td><input type="text" name="v_unidad_2" id="v_unidad_2" class="form-control" placeholder="$"></td>
                <td><input type="text" name="v_unidad_3" id="v_unidad_3" class="form-control" placeholder="$"></td>
                <td><input type="text" name="v_unidad_4" id="v_unidad_4" class="form-control" placeholder="$"></td>
                <td><input type="text" name="v_unidad_5" id="v_unidad_5" class="form-control" placeholder="$"></td>
                <td><input type="text" name="v_unidad_6" id="v_unidad_6" class="form-control" placeholder="$"></td>
                <td><input type="text" name="v_unidad_7" id="v_unidad_7" class="form-control" placeholder="$"></td>
            </tr>

            <tr>
                <th><label for="v_total">VALOR TOTAL</label></th>
                <td><input type="text" name="v_total" id="v_total" class="form-control" placeholder="$"></td>
                <td><input type="text" name="v_total_1" id="v_total_1" class="form-control" placeholder="$"></td>
                <td><input type="text" name="v_total_2" id="v_total_2" class="form-control" placeholder="$"></td>
                <td><input type="text" name="v_total_3" id="v_total_3" class="form-control" placeholder="$"></td>
                <td><input type="text" name="v_total_4" id="v_total_4" class="form-control" placeholder="$"></td>
                <td><input type="text" name="v_total_5" id="v_total_5" class="form-control" placeholder="$"></td>
                <td><input type="text" name="v_total_6" id="v_total_6" class="form-control" placeholder="$"></td>
                <td><input type="text" name="v_total_7" id="v_total_7" class="form-control" placeholder="$"></td>
            </tr>            
            <tr>
                <th><label for="total">TOTAL</label></th>
                <td><input type="text" name="total" id="total" class="form-control" placeholder="$"></td>
            </tr>
        </table>
        <button type="submit" class="btn btn-success">Enviar</button>
        <td><a href="/menu" class="btn btn-secondary">Atrás</a> </td>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    </form>

    <script >
        // Obtener el número de recibo del almacenamiento local (si existe)
        let numeroRecibo = localStorage.getItem('numeroRecibo');
    
        // Si no hay un número de recibo almacenado, comenzar desde 1
        if (!numeroRecibo) {
            numeroRecibo = 1;
        } else {
            // Convertir el número de recibo almacenado a un número entero
            numeroRecibo = parseInt(numeroRecibo);
            // Incrementar el número de recibo en 1 para el siguiente recibo
            numeroRecibo++;
        }
    
        // Mostrar el número de recibo en el campo de entrada
        document.getElementById('numero-recibo').value = numeroRecibo;
    
        // Guardar el nuevo número de recibo en el almacenamiento local para la próxima carga de la página
        localStorage.setItem('numeroRecibo', numeroRecibo.toString());
    </script>
    
</body>
</html>
{%endblock%}
