<!DOCTYPE html>
{% extends "layouth.html" %}
{% block content %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Términos de Servicio</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
    <div class="container mt-5">
        <h1 class="mb-4">Términos de Servicio</h1>
        <p> Leer atentamente los términos de servicio</p>
        <table class="table table-bordered mt-4">
            <tbody>
                <tr>
                    <th scope="row">1. Aceptación de los Términos</th>
                    <td>Al acceder y utilizar nuestra aplicación, aceptas estar sujeto a estos Términos de Servicio y cumplir con todas las leyes y regulaciones aplicables.</td>
                </tr>
                <tr>
                    <th scope="row">2. Uso de la Aplicación</th>
                    <td>Te otorgamos una licencia limitada para acceder y usar nuestra aplicación únicamente para fines personales y no comerciales. No puedes copiar, modificar, distribuir, vender o alquilar ninguna parte de nuestra aplicación sin nuestro permiso.</td>
                </tr>
                <tr>
                    <th scope="row">3. Cuentas de Usuario</th>
                    <td>Eres responsable de mantener la confidencialidad de tu cuenta y contraseña, y aceptas notificar inmediatamente cualquier uso no autorizado de tu cuenta.</td>
                </tr>
                <tr>
                    <th scope="row">4. Conducta Prohibida</th>
                    <td>No puedes usar nuestra aplicación para ningún propósito ilegal o no autorizado. No debes intentar acceder, interferir o dañar cualquier parte de nuestra aplicación o sus sistemas relacionados.</td>
                </tr>
                <tr>
                    <th scope="row">5. Terminación del Servicio</th>
                    <td>Nos reservamos el derecho de suspender o terminar tu acceso a nuestra aplicación en cualquier momento, sin previo aviso, si violas estos Términos de Servicio.</td>
                </tr>
                <tr>
                    <th scope="row">6. Cambios en los Términos</th>
                    <td>Nos reservamos el derecho de modificar estos Términos de Servicio en cualquier momento. Publicaremos cualquier cambio en esta página, y tu uso continuado de la aplicación constituirá tu aceptación de los nuevos términos.</td>
                </tr>
                <tr>
                    <th scope="row">7. Contacto</th>
                    <td>Si tienes alguna pregunta sobre estos Términos de Servicio, puedes contactarnos al número 3225190269.</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
{% endblock %}
